@model IEnumerable<Tesco.OnlineRetail.Models.Inventory>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <br>
            <p class="lead">Welcome Admin</p>
            <br>
            <div class="list-group">

                <dl>
                    <dt>Manage Categories</dt>
                    <br>
                    <dd> <a href="~/Category/Index" class="list-group-item">View Categories</a></dd>
                    <dd> <a href="~/Category/Create" class="list-group-item">Add Categories</a></dd>

                </dl>
                <dl>
                    <br>
                    <dt>Manage Product</dt>
                    <br>
                    <dd><a href="~/Product/Index" class="list-group-item">View Products</a></dd>
                    <dd> <a href="~/Product/Create" class="list-group-item">Add Product</a></dd>
                </dl>

                <dl>
                    <br>
                    <dt>Manage Inventory</dt>

                    <dd><a href="~/Inventory/Index" class="list-group-item">View Inventory</a></dd>
                    <dd> <a href="~/Inventory/Create" class="list-group-item">Add product Quantity</a></dd>
                </dl>
                <dl>
                    <br>
                    <dt>Manage Gift Products</dt>

                    <dd><a href="~/GiftProduct/Index" class="list-group-item">View Products</a></dd>
                    <dd> <a href="~/GiftProduct/Create" class="list-group-item">Add Product</a></dd>
                    <dd> <a href="~/GiftProduct/Delete" class="list-group-item">Delete Product</a></dd>
                </dl>
                <dl>
                    <br>
                    <dt>Manage Gift Categories</dt>
                    <dd><a href="~/GiftProductCategory/Index" class="list-group-item">View Category</a></dd>
                    <dd> <a href="~/GiftProductCategory/Create" class="list-group-item">Add Category</a></dd>
                </dl>

            </div>
        </div>


        <div class="col-md-9">

            <h2>Inventory Details</h2>


<table class="table" border="3">
    <tr>
        <th>
           Product Name
        </th>
        <th>
           Quantity
        </th>
        <th>
           Date Added
        </th>
        <th>
           Status
        </th>
        <th></th>
    </tr>

                @foreach (var item in Model)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtyInInventory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryDate)
        </td>
        <td>
                            @Html.DisplayFor(modelItem => item.IsInventoryActive)
        </td>
        <td>           
                            @Html.ActionLink("Delete", "Delete", new { id = item.SlNo })
        </td>
    </tr>
}

</table>
